{% extends "base.html" %}

{% block content %}
<table  class="table table-bordered table-responsive">
    
    <tr>
      <th>Testrun ID</th>
      <th>User</th>
      <th>Project</th>
      <th>Testsuit ID</th>
      <th>Log Path</th>
      <th>Status</th>
      <th>Result</th>
    </tr>
  </thead>
    {% for status in test_by_status %}
    <tr> 
      <td> {{ status.test_run_id|upper }}</td>
      <td>{{ status.user|upper }}</td>
      <td>{{ status.project|upper }}</td>
      <td>{{ status.test_suit_id|upper }}</td>
      <td><a href={{ status.log_path}}>testresultlog</a></td>
      <td>{{ status.status }}</td>
      <td>{{ status.result|upper }}</td>
      <td><button><a href="{% url 'runtest' status.id %}">Re Run</a></button></td>
    </tr>  
    {% endfor %}
</table>
    <div class="pagination" class="col-sm-6 col-sm-offset-3">
        <span class="step-links">
            {% if test_by_status.has_previous %}
                <button type="button" class="btn btn-success">
                <a href="?page={{ test_by_status.previous_page_number }}">Previous</a>
                </button>             
            {% endif %}

            <span class="current">
                Page {{ test_by_status.number }} of {{ test_by_status.paginator.num_pages }}.
            </span>

            {% if test_by_status.has_next %}
                <button type="button" class="btn btn-success"> 
                <a href="?page={{ test_by_status.next_page_number }}">Next</a>
                </button>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block js %}



{% endblock %}
